/* https://coolors.co/ */
:root {
  --background: #02111b;
  --primary: #8aea92;
  --secondary: #80ada0;
  --tertiary: #d4c2fc;
  --fourthtiary-question-mark: #ffe2d1;
}

.App {
  font-family: 'Baloo Chettan 2', cursive;
  background-color: var(--background);
  color: var(--primary);
  height: 100vh;
  overflow: auto;
}

.App input {
  border: 1px solid;
  border-radius: 5px;
}
.App a {
  text-decoration: none;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header h1 {
  color: var(--primary);
  padding-left: 25px;
  font-size: 2.5em;
  display: inline-block;
}

.app-header form {
  padding-right: 25px;
}

.app-header input {
  padding: 10px;
  background-color: var(--background);
  color: var(--primary);
  border-color: var(--tertiary);
  font-weight: bold;
  font-size: 24px;
}

.app-header input:last-child {
  margin-left: 10px;
  cursor: pointer;
}

.filter-list {
  padding: 0 25px;
}
.filter-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.filter-list li {
  margin-left: 10px;
  margin-bottom: 10px;
}

.filter-list input {
  background-color: var(--background);
  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-color: var(--tertiary);
  cursor: pointer;
}

.filter-list .selected-filter {
  background-color: var(--primary);
  color: var(--background);
}

.recipe-list {
  display: flex;
  padding: 40px;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.recipe-card {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  text-align: center;
  margin: 25px;
}

@media only screen and (min-width: 1300px) {
  .recipe-list {
    max-width: 80vw;
  }
  .recipe-card {
    width: 250px;
  }
}

@media only screen and (min-width: 740px) {
  .recipe-list {
    width: 100%;
    justify-content: start;
  }
}

.recipe-card img {
  width: 250px;
}
